*{
    margin:0;
    padding:0;
  /*   font-family: 'Dosis', sans-serif; */
  /*   font-family: 'Poiret One', sans-serif; */
  /*   font-family: 'Barlow Semi Condensed', sans-serif; */
    font-family:'Abel';
    box-sizing:border-box;
  }
  .mane{
    height:100vh;
    width:100vw;
    background:#e7e7e7;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    box-sizing: border-box;
    justify-content: center;
  }

  .information1 {
    display: inline-block;
    margin-right: 200px;
  }

  .information2 {
    display: inline-block;
  }

  .person > p{
    text-align:left;
    padding-left:20px;
    letter-spacing:2px;
    margin-bottom:4px;
  }

  .person > p >strong{
    font-size:12px;
    letter-spacing:2px;
    color:#39dfa2;
  }

  .profile{
    padding: 80px 20px 20px 20px;

  }

  .profileImg{
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .profileImg>img{
    height: 300px;
    border-radius: 50%;
  }

  .details{
    letter-spacing:2px;
    font-weight:bolder;
    font-size:18px;
    text-align: center;
    margin-top: 10px;
  }
  .details > span{
    color:black;
    font-size:12px;
  }

  .info{
    padding:20px;
    color:black;
  }

  .header{
    height:60px;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:12px;
  }

  .header > h4{
    letter-spacing:3px;
  }

  .firstRow{
    width:690px;
    height:200px;
    padding:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:6px;
  }
  .elem{
    width: 550px;
    height:180px;
    border:1px solid;
  }
  .elem > h5{
    height:30px;
    display:flex;
    align-items:center;
    letter-spacing:2px;
    padding-left:20px;
    border-bottom:1px solid;
    margin-bottom:6px;
  }

  .secondRow{
    margin-top: 40px;
    width:690px;
    height:200px;
    padding:8px;
  }

  .line {
    padding: 10px 20px 10px 20px;
  }

  .param {
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
  }

  .more {
    color: #33ca93;
    cursor: pointer;
  }