body {
    margin:0;
    padding:0;
    font-family:'Abel';
    box-sizing:border-box;
    background:#e7e7e7;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user_card {
    height: 300px;
    width: 250px;
    padding: 15px;
    /* border: 3px solid #39dfa2; */
    border: 3px solid black;
    border-radius: 20px 0 20px 0;
    margin: 40px;
    text-align: center;
}

.photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.name {
    margin-top: 15px;
    font-size: 20px;
}

.telegramID {
    font-size: 20px;
}

.custom-btn {
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-5 {
    margin-top: 10px;
    width: 100px;
    height: 27px;
    line-height: 29px;
    padding: 0;
    border: none;
    background: rgb(0, 255, 85);
  background: linear-gradient(0deg, rgb(0, 255, 85) 0%, rrgb(2, 251, 122)100%);
  }
  .btn-5:hover {
    color: black;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(0, 255, 85);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }


  @media (max-width: 550px) {

    .user_card{
        height: 200px;
        width: 150px;
    }

  }